<template id="myth-music-bard">
    <div class="block block-rounded block-link-pop border-top border-music border-4x" v-if="isEnabled">
        <div class="text-center mb-1">
            <div class="row gutters-tiny">
                <div class="col-12 pt-3 font-size-lg mb-3" v-if="bard">
                    <img class="instrument-icon" v-bind:src="bard.instrument.media" />
                    <span :class="{ 'music-color': bard.isUpgraded && bard.socket && bard.utility }">
                        {{ templateLangString('Myth_Music_Bard_Title', { name: bard.instrument.name }) }}
                    </span>
                    <button type="button" class="ml-2 btn btn-lg btn-success mr-1" @click="equipment()">
                        {{ getLangString('Myth_Music_Instrument') }}
                    </button>
                </div>

                <div class="col-12 pb-3 pr-3 pl-3" v-if="bard">
                    <div
                        v-for="modifier in modifiers"
                        :class="{ 'text-success': modifier.isActive, 'myth-text-grey': !modifier.isActive }"
                    >
                        <span v-if="!modifier.isActive && !modifier.isUpgrade">
                            (
                            <img class="skill-icon-xxs mr-1" :src="cdnMedia('assets/media/main/mastery_header.svg')" />
                            <span :class="{ 'text-success': currentMasteryLevel >= modifier.level }">
                                {{ modifier.level }}
                            </span>
                            )
                        </span>
                        <span v-if="modifier.isUpgrade">
                            <img class="skill-icon-xxs mr-1" :src="essenceIcon()" />
                        </span>
                        <span v-html="modifier.description"></span>
                    </div>
                </div>

                <div class="col-12 font-size-lg pt-3 pb-3" v-if="!bard">
                    <span>{{ getLangString('Myth_Music_Bard_Not_Currently_Hired') }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
